.time {
  background: cornsilk;
  width: 100%;
  padding: 0% 5% 5% 5%;
}
@media (max-width: 768px) {
  #menu {
    position: fixed;
    z-index: 10000;
  }
}
#timeline {
  background: cornsilk;
}

#cd-timeline {
  margin-bottom: 0;
  padding-bottom: 3em;
}
.main.container {
  background-color: lightgrey;
  width: 100%;
  padding: 2% 10% 3% 10%;
}
@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
.custom-bullet li {
  display: block;
}
.custom-bullet li:before {
  content: "\e080";
  font-family: "Glyphicons Halflings";
  font-size: 15px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #cccccc;
}
.divider-header.d {
  background: #666;
}
.divider-header {
  display: block;
  width: 200px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.divider-header.l {
  background: #eeeeee;
}
.divider-header.d.e {
  width: 100px;
}
.main p {
  font-weight: 600;
}
.eligibility h2 {
  :2px2px2px#9E9E9E ;
  font-size: 2em;
  font-weight: 500;
}
.container.abstract {
  width: 100%;
  padding: 2% 10% 2% 10%;
  font-weight: 600;
  font-size: 2rem;
}
.abstract p {
  font-weight: 600;
  font-size: 2.5rem;
}
.abstract h2 {
  color: white;
  font-weight: 500;
  :2px2px2px#E0E0E0 ;
}
.TaC h3 {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 3%;
}
.labels {
  color: #616161;
}
.upstart {
  font-size: 3rem;
  color: #e0e0e0;
}
.highlight-info {
  background: url(../img/up.jpg) center fixed;
  background-size: cover;
  color: #eeeeee;
}
.highlight-info3 {
  background: url(../img/12.jpg) center fixed;
  background-size: cover;
  color: #eeeeee;
}
.highlight-info1 {
  background: url(../img/abs.jpg) center fixed;
  background-size: cover;
  color: #eeeeee;
}
.highlight-info2 {
  background: url(../img/judge.jpg) center fixed;
  background-size: cover;
  color: #eeeeee;
}
.container.judge {
  width: 100%;
  padding: 2% 10% 2% 10%;
}
.judge h2 {
  font-weight: 500;
  color: #f5f5f5;
  :2px2px2px#E0E0E0 ;
}
img {
  border: 0;
  max-width: 100%;
}
.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #212121;
  :3px3px1px#bdbdbd ;
}
.container.eligibility {
  width: 100%;
  padding: 2% 10% 2% 10%;
  background: #eeeeee;
  font-size: 2rem;
  color: #757575;
  font-weight: 600;
}
.eligibility p {
  color: #757575;
  font-weight: 600;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline p {
  font-size: 1.75rem;
  font-weight: 600;
  color: #757575;
  padding-bottom: 1rem;
}
.timeline:before {
  top: 0;
  bottom: -50px;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #424242;
  left: 50%;
  margin-left: -1.5px;
}
.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
}
.timeline li {
  margin-bottom: -75px;
  position: relative;
}
.timeline li:before,
.timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before,
.timeline li:after {
  content: " ";
  display: table;
}
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before,
.timeline li .timeline-panel.noarrow:after {
  top: 0;
  right: 0;
  display: none;
  border: 0;
}
.timeline li.timeline-inverted .timeline-panel {
  float: right;
}
.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #e1f5fe;
  color: #4fc3f7;
  width: 50px;
  height: 50px;
  line-height: 35px;
  margin-left: -25px;
  border: 5px solid #4fc3f7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.tl-heading h4 {
  margin: 0;
  color: #ff9800;
  font-size: 2em;
}
.tl-body p,
.tl-body ul {
}
.tl-body > p + p {
  margin-top: 5px;
}
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}
@media (max-width: 700px) {
  .page-header h1 {
    font-size: 1.8em;
  }
  ul.timeline:before {
    left: 40px;
  }
  .tldate {
    width: 140px;
  }
  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;
  }
  ul.timeline > li > .tldate {
    margin: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
