.timeline1-dep{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/timeline1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}
.timeline2-dep{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/timeline2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    
}
.timeline3{
    background: url(../img/timeline2\ \(3\).png);
    background-size: cover;
    width: 100%;
    /* height: 500px; */
    height: calc(100vw / 1.9);
    position: relative;
    z-index: 2;
    background-color: black;
    transition: all 2s ease-in-out;
    /* transition-delay: 1s; */
}
.timeline2{
    background: url(../img/timeline2\ \(2\).png);
    background-size: cover;
    width: 100%;
    /* height: 500px; */
    height: calc(100vw / 1.9);
    z-index: 2;
}
#myVideo{
    width: 99vw;
    /* background-attachment: fixed; */
    position: absolute;
    /* height: 100px; */
    /* transform: scale(1.1); */
    transform: translateY(-2px);
    transition: all 1s ease-in-out;

}